.shop-page {
  padding: 50px;
  text-align: center;
}

.shop-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.category-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.cat-btn {
  padding: 10px 18px;
  border: 1px solid #ff4e8a;
  background: white;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: 500;
}

.cat-btn:hover,
.cat-btn.active {
  background: #ff4e8a;
  color: white;
  border-color: #ff4e8a;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  padding: 0 20px;
}

.product-card {
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.product-img {
  width: 100%;
  height: 180px;
  background: #f1f1f1;
  border-radius: 8px;
  margin-bottom: 15px;
}

.add-btn {
  margin-top: 8px;
  background: #ff4e8a;
  border: none;
  padding: 10px 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: #e43d78;
}
.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
