/* Page transition animation */
.page-enter {
  opacity: 0;
  transform: translateY(30px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms ease-in-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 400ms ease-in-out;
}
